.bookingForm {
  width: 32rem;
  position: sticky;
  top: 0;
  margin: -6rem -10rem 0 0;
  border: 1px solid var(--color-grey-light-1);
  z-index: 99;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  float: right;
}

.bookingForm__header {
  padding: 1.3rem 1rem;
}

.bookingForm__price {
  display: block;
  font-size: 2.4rem;
  font-weight: 900;
}

.bookingForm__perNight {
  color: var(--color-grey-dark-1);
  font-size: 1.5rem;
}

.bookingForm__dates {
  display: flex;
  position: relative;
}

.bookingForm__dates .bookingForm__dateInput:first-child #date {
  border-left: none;
}

.bookingForm__dateInput,
.bookingForm__selectMenu {
  position: relative;
}

.bookingForm__dateInput label,
.bookingForm__selectMenu label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  font-weight: 500;
}

.bookingForm__selectMenu label {
  z-index: 0;
}

#date {
  padding: 3rem 1rem 0 1rem;
  width: 100%;
  height: 5.9rem;
  border: 1px solid var(--color-grey-light-1);
  cursor: pointer;
  transition: all .2s;
}

#date {
  border-right: none;
}

#date:hover,
#guests:hover {
  background-color: var(--color-grey-light-2);
}

#date:focus,
#guests:focus {
  outline: none;
}

#date::placeholder {
  color: inherit;
  font-size: 1.4rem;
}

#guests {
  background-color: var(--color-white);
  height: 6.6rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-grey-light-1);;
  padding: 3rem 1rem 0 .5rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .2s;
}

.bookingForm__btnContainer {
  padding: 1rem;
}

.btn--secondary {
  padding: 1rem 1.5rem;
  border: 3px solid transparent;
  background-color: var(--color-secondary-light);
  width: 100%;
  font-size: 1.6rem;
}

.btn--secondary:hover {
  border: 3px solid var(--color-secondary-light);
  background-color: var(--color-white);
  color: var(--color-secondary-light);
}

.bookingForm__errors {
  padding: 1rem 1rem 0 1rem;
  color: #e03131;
}

.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}