.loginForm, 
.signupForm {
  width: 33.2rem;
  border: 1px solid var(--color-grey-light-1);
  background-color: var(--color-white);
}

.loginForm__container, 
.signupForm__container,
.reviewForm__container {
  padding: 1.5rem;
}

.loginForm__header, 
.signupForm__header {
  text-align: center;
  line-height: 3rem;
  font-size: 2.3rem;
}

.loginForm__header--sub, 
.signupForm__header--sub {
  color: var(--color-grey-dark-1);
  font-size: 65%;
  font-weight: 400;
}

.loginForm__strike::before {
  height: 1px;
  content: '';
  width: 100%;
  background-color: var(--color-grey-light-1);
  display: block;
  margin-right: 1.5rem;
}

.loginForm__strike {
  display: flex;
  align-items: center;
  margin: .8rem 0 1rem;
}

.loginForm__strike::after {
  height: 1px;
  content: '';
  width: 100%;
  background-color: var(--color-grey-light-1);
  display: block;
  margin-left: 1.5rem;
}

.loginForm__error, 
.signupForm__error,
.reviewForm__error {
  color: #e03131;
}

.loginForm__errors, 
.signupForm__errors,
.reviewForm__errors {
  margin-bottom: .5rem;
  list-style: none;
}

.loginForm__input, 
.signupForm__input,
.reviewForm__title,
.reviewForm__body {
  width: 100%;
  height: 6.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  padding: 1.6rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-grey-dark-2);
}

.loginForm__input::placeholder,
.signupForm__input::placeholder,
.reviewForm__title::placeholder,
.reviewForm__body::placeholder {
  color: var(--color-black);
}

.loginForm__footer,
.signupForm__footer {
  padding: 1.5rem;
  background-color: var(--color-grey-light-2);
  text-align: center;
  font-size: 1.37rem;
}

.loginForm__btn,
.signupForm__btn,
.reviewForm__btn {
  font-size: 1.6rem;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--color-secondary-light);
  border-radius: 3px;
  margin-top: 1.1rem;
  transition: all .2s;
}

.loginForm__btn:active,
.signupForm__btn:active,
.reviewForm__btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.loginForm__btn:hover,
.signupForm__btn:hover,
.reviewForm__btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2);
}

.loginForm__btn--demo {
  background-color: var(--color-tertiary-light);
  margin-top: 3rem;
}

.loginForm__link,
.signupForm__link {
  margin-left: 5px;
  border-bottom: 1px solid transparent;
  transition: border-bottom .25s;
  background: none;
  color: inherit;
}

.loginForm__link:hover,
.signupForm__link:hover {
  border-bottom: 1px solid var(--color-grey-dark-2);
}