.footer {
  background-color: var(--color-black);
  height: 6.6rem;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.la-github {
  font-size: 2.5rem;
  cursor: pointer;
  transition: all .2s;
}

.la-github:hover {
  color: var(--color-grey-dark-1);
}