header {
  height: 95vh;
  background-image: 
    linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)),
    url('https://res.cloudinary.com/djogxk6nz/image/upload/v1640371234/upcamp_assets/photo-1504280390367-361c6d9f38f4_c9tpuh.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__heading {
  color: var(--color-white);
  margin-bottom: 6rem;
}

.header__heading--main {
  display: block;
  font-size: 6rem;
  text-align: center;
}

.header__heading--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}

.btn--white {
  padding: 1.4rem 4rem;
  background-color: var(--color-white);
  border-radius: 10rem;
  text-align: center;
  font-weight: 300;
  position: relative;
}

.btn--white:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--white:active {
  transform: translateY(-.1rem);
}

.btn--white::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  background-color: var(--color-white);
}

.btn--white:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 36.2rem;
  height: 36.4rem;
}

.card--wide {
  width: 55.5rem;
  height: 36.4rem;
  margin-bottom: 3rem;
}

.card__image,
.promo__image {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  object-fit: cover;
  overflow: hidden;
  transition: all .2s;
}

.card__image:hover,
.promo__image:hover {
  transform: translateY(-.7rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.promo__image:hover + .promo__box {
  transform: translateY(-.7rem);
}

.card__text {
  font-size: 2.1rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-primary-dark);
}

.types {
  padding: 4rem 7rem;
  padding-bottom: 7rem;
}

.types > h2 {
  color: var(--color-primary-dark);
  margin-bottom: 3.2rem;
  margin-top: 4rem;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

.promo {
  padding: 4rem 10.9rem;
  padding-bottom: 8rem;
}

.promo__container {
  position: relative;
}

.promo__image {
  width: 100%;
  height: 68rem;
  max-height: 100vh;
}

.promo__box {
  max-width: 37.2rem;
  padding: 2.9rem 2.4rem;
  background-color: rgb(147, 39, 39);
  border-radius: 2.4rem;
  color: var(--color-white);
  position: absolute;
  left: 5rem;
  top: 5rem;
  transition: all .2s;
}

.promo__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.promo__text {
  font-size: 1.7rem;
  font-weight: 500;
}

.promo__btn {
  margin-top: 2.6rem;
  padding: 1.2rem 3.6rem;
  color: rgb(147, 39, 39);
  background-color: var(--color-white);
  border-radius: 2.4rem;
  font-size: 1.6rem;
}