/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --color-primary-light: #51cf66;
  --color-primary-dark: #2b8a3e;
  --color-secondary-light: #40d9ac;
  --color-secondary-dark: #00C585;
  --color-tertiary-light: #fcc419;
  --color-tertiary-dark: #e67700;
  --color-grey-light-1: #ebebeb;
  --color-grey-light-2: #f9f9f9;
  --color-grey-light-3: #f3f2ef;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #333;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  line-height: 1.42;
  background-color: var(--color-grey-light-3);
}

ul {
  list-style: none;
}

a,
a:visited, 
a:hover, 
a:focus {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-family: inherit;
  transition: all .2s;
  position: relative;
}